In [5]:
i=50
sum=0
while(i>=20):
  sum+=i
  i-=1
print(sum)

1085

In [16]:
for i in range(1,4):
  for j in range(1,5):
    print("*",end=" ")
  print("")

* * * *
* * * *
* * * *

In [39]:
for i in range(1,5):
  for j in range(i):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *

In [38]:
for i in range(4,0,-1):
  for j in range(i):
    print("*",end=" ")
  print("")

* * * *
* * *
* *
*

In [84]:
n=9
for i in range(1,4):
  for j in range(i):
    n+=1
    print(n,end=" ")
  print("")

10
11 12
13 14 15

In [112]:
for i in range(10,14):
  for j in range(10,i+1):
    print(j,end=" ")
  print("")

10
10 11
10 11 12
10 11 12 13

In [115]:
for i in range(1,5):
  for j in range(i):
    print(chr(65+j),end=" ")
  print("")

A
A B
A B C
A B C D

In [116]:
for i in range(1,5):
  for j in range(i):
    print(chr(68-j),end=" ")
  print("")

D
D C
D C B
D C B A

In [157]:
for i in range(5,0,-1):
  for j in range(i):
    print(chr(68-j),end=" ")
  print("")

D C B A @
D C B A
D C B
D C
D

In [25]:
n=1
for i in range(1,4):
  for j in range(1,i+1):
    print(n,end=" ")
    n*=2
  print("")

1
2 4
8 16 32

In [43]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end=" ")
  for k in range(i,5):
    print("*",end=" ")
  print("")

* * * *
  * * *
    * *
      *

In [63]:
for i in range(1,5):
  n=1
  for j in range(1,i):
    print(" ",end=" ")
  for k in range(i,5):
    print(n,end=" ")
    n+=1
  print("")

1 2 3 4
  1 2 3
    1 2
      1

In [64]:
n=1
for i in range(1,5):
  for j in range(1,i):
    print(" ",end=" ")
  for k in range(i,5):
    print(n,end=" ")
    n+=1
  print("")

1 2 3 4
  5 6 7
    8 9
      10

In [74]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end=" ")
  for k in range(i,5):
    if(i%2==0):
      print("#",end=" ")
    else:
      print("$",end=" ")
  print("")

$ $ $ $
  # # #
    $ $
      #

In [87]:
n=4
for i in range(1,5):
  for j in range(1,i):
    print(" ",end=" ")
  for k in range(i,5):
    print(n,end=" ")
    n+=2
  print("")

4 6 8 10
  12 14 16
    18 20
      22

In [102]:
for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==5 or i==j):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

*
* *
*   *
*     *
* * * * *

In [116]:
for i in range(1,5):
  n=65
  for j in range(i):
    print(" ",end=" ")
  for k in range(i,5):
    print(chr(n+j),end=" ")
    n+=1
  print("")

  A B C D
    B C D
      C D
        D

In [114]:
for i in range(1,5):
  n=65
  for j in range(1,i):
    print(" ",end=" ")
  for k in range(i,5):
    print(chr(n),end=" ")
    n+=1
  print("")

A B C D
  A B C
    A B
      A

In [158]:
for i in range(1,5):
  n=65
  v=10
  for j in range(i):
    print(" ",end=" ")
  for k in range(i,5):
    if(i%2==0):
      print(v,end=" ")
      v*=10
    else:
      print(chr(n+j),end=" ")
      n+=1
  print("")

  A B C D
    10 100 1000
      C D
        10

In [163]:
n=90
for i in range(1,4):
  for j in range(i):
    print(" ",end=" ")
  for k in range(i,4):
    print(chr(n),end=" ")
    n-=1
  print("")

  Z Y X
    W V
      U

In [210]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    if(i==5 or j==1 or i==j):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

* * * * *
*     *
*   *
* *
*