In [ ]:
n=int(input("enter your value: "))
c="x"
result=""
for i in range(n):
    result+=c

print(result)

enter your value: 1
x

In [ ]:
num=[2,4,6,8,90,223]
num.sort()
print("largest number in the list is: ",num[-1])

largest number in the list is:  223

In [6]:
wordslist = input("Enter a list of words separated by spaces: ").split()

lengths = [len(word) for word in wordslist]

print(lengths)

Enter a list of words separated by spaces: apple banana stawberry
[5, 6, 9]

In [8]:
list1=input("Enter a list of words separated by spaces: ").split()
word=lambda words: max(map(len, words))
length=word(list1)
print("Length of the longest word:",length)

Enter a list of words separated by spaces: apple car
Length of the longest word: 5

In [9]:
words_list = input("Enter a list of words separated by spaces: ").split()
n = int(input("Enter the minimum length to filter: "))
filter_long_words = lambda words, n: list(filter(lambda word: len(word) > n, words))
filtered_words = filter_long_words(words_list, n)
print("Words longer than", n, "characters:", filtered_words)

Enter a list of words separated by spaces: shivangi shaily madhav
Enter the minimum length to filter: 11
Words longer than 11 characters: []

In [13]:
sentence = input("Enter a sentence: ")

alphabet = "abcdefghijklmnopqrstuvwxyz"
sentence = sentence.lower()

p1= all(char in sentence for char in alphabet)

print("The sentence is a pangram:", p1)

Enter a sentence: s
The sentence is a pangram: False

In [14]:
bilingual_lexicon = {
    "merry": "god",
    "christmas": "jul",
    "and": "och",
    "happy": "gott",
    "new": "nytt",
    "year": "år"
}
english_words = ["merry", "christmas", "and", "happy", "new", "year"]
swedish_words = [bilingual_lexicon[word] for word in english_words]
print("English words:", english_words)
print("Swedish words:", swedish_words)

English words: ['merry', 'christmas', 'and', 'happy', 'new', 'year']
Swedish words: ['god', 'jul', 'och', 'gott', 'nytt', 'år']

In [15]:
char_freq = (lambda string: {char: string.count(char) for char in set(string)})
frequency_listing = char_freq("abbabcbdbabdbdbabababcbcbab")
print(frequency_listing)

{'d': 3, 'b': 14, 'c': 3, 'a': 7}

In [22]:
print("Basic Arithmetic Operations:")
print("1. Addition of 5 and 3:", 5 + 3)
print("2. Subtraction of 5 from 3:", 5 - 3)
print("3. Multiplication of 5 and 3:", 5 * 3)
print("4. Division of 5 by 3:", 5 / 3)
print("5. Integer division of 5 by 3:", 5 // 3)
print("6. Modulus of 5 by 3:", 5 % 3)
print("7. Exponentiation of 5 to the power of 3:", 5 ** 3)

print("\nTrigonometric Functions (Using Taylor series approximations):")
x = 0.5
sin_x = x - (x**3) / 6 + (x**5) / 120
cos_x = 1 - (x**2) / 2 + (x**4) / 24
print("1. Sine of", x, ":", sin_x)
print("2. Cosine of", x, ":", cos_x)

print("\nFactorial Function (Using iterative method):")
n = 5
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print("Factorial of", n, ":", factorial)

print("\nSquare Root Function (Using approximation method):")
x = 25
sqrt_x = x ** 0.5
print("Square root of", x, ":", sqrt_x)

Basic Arithmetic Operations:
1. Addition of 5 and 3: 8
2. Subtraction of 5 from 3: 2
3. Multiplication of 5 and 3: 15
4. Division of 5 by 3: 1.6666666666666667
5. Integer division of 5 by 3: 1
6. Modulus of 5 by 3: 2
7. Exponentiation of 5 to the power of 3: 125

Trigonometric Functions (Using Taylor series approximations):
1. Sine of 0.5 : 0.47942708333333334
2. Cosine of 0.5 : 0.8776041666666666

Factorial Function (Using iterative method):
Factorial of 5 : 120

Square Root Function (Using approximation method):
Square root of 25 : 5.0

In [23]:
name = input("Enter your name: ")
id_number = input("Enter your ID number: ")
location = input("Enter your location: ")

print("Name: {}, ID Number: {}, Location: {}".format(name, id_number, location))

Enter your name: shivangi
Enter your ID number: 111111
Enter your location: jaipur
Name: shivangi, ID Number: 111111, Location: jaipur

In [24]:
ip_address = "172.65.234.45"

octets = ip_address.split(".")

octets[-1], octets[-2] = octets[-2], octets[-1]

new_ip_address = ".".join(octets)

print("Input IP address:", ip_address)
print("Output IP address:", new_ip_address)

Input IP address: 172.65.234.45
Output IP address: 172.65.45.234

In [26]:
lst = [1, 2, 3, 4, 5]

length = len(lst)

for i in range(length // 2):
    lst[i], lst[length - i - 1] = lst[length - i - 1], lst[i]

print("Reversed list:", lst)

Reversed list: [5, 4, 3, 2, 1]

In [27]:
try:
    input_str = input("Enter employee name and rating (separated by colon): ")

    name, rating_str = map(str.strip, input_str.split(":"))

    if not name:
        raise ValueError("Name is NULL")
    if not rating_str:
        raise ValueError("Rating is NULL")

    rating = float(rating_str)
    if rating < 1 or rating > 10:
        raise ValueError("Rating must be between 1 and 10")

    if any(char.isdigit() for char in name):
        raise ValueError("Name contains integers")

    print("Employee Name:", name)
    print("Performance Rating:", rating)

except ValueError as e:
    print("Invalid input:", e)
except KeyboardInterrupt:
    print("\nProgram terminated by user.")
except Exception as e:
    print("Error:", e)

Enter employee name and rating (separated by colon): shivangi 111
Invalid input: not enough values to unpack (expected 2, got 1)

In [29]:
lst = [5, 21, 4, 18, 2, 55, 6, 8, 3, 18, 5, 3, 44]

even_numbers = [num for num in lst if num % 2 == 0]

print("Even numbers:", even_numbers)

Even numbers: [4, 18, 2, 6, 8, 18, 44]

In [32]:
import math

def calculate_rectangle_area(length, width):
    return length * width

def calculate_square_area(side_length):
    return side_length * side_length

def calculate_circle_area(radius):
    return math.pi * (radius ** 2)

def calculate_triangle_area(base, height):
    return (base * height) / 2

print("Area of rectangle:", calculate_rectangle_area(5, 3))
print("Area of square:", calculate_square_area(4))
print("Area of circle:", calculate_circle_area(3))
print("Area of triangle:", calculate_triangle_area(6, 4))

Area of rectangle: 15
Area of square: 16
Area of circle: 28.274333882308138
Area of triangle: 12.0

In [34]:
list_to_sort = [6, 2, 8, 9, 34, 12, 4, 3, 9]

n = len(list_to_sort)
for i in range(n):
    for j in range(0, n - i - 1):
        if list_to_sort[j] > list_to_sort[j + 1]:

            list_to_sort[j], list_to_sort[j + 1] = list_to_sort[j + 1], list_to_sort[j]

print("Sorted list:", list_to_sort)

Sorted list: [2, 3, 4, 6, 8, 9, 9, 12, 34]

In [38]:
num = int(input("Enter a number: "))

fib_series = [0, 1]

while fib_series[-1] + fib_series[-2] <= num:
    next_fib = fib_series[-1] + fib_series[-2]
    fib_series.append(next_fib)

print("Fibonacci series up to", num, ":", fib_series)

Enter a number: 4
Fibonacci series up to 4 : [0, 1, 1, 2, 3]

In [37]:
num_students = int(input("Enter the number of students: "))

pass_students = []

for i in range(num_students):

    student_name = input(f"Enter name for student {i+1}: ")


    marks = []
    for j in range(5):
        subject_mark = int(input(f"Enter mark for subject {j+1} for {student_name}: "))
        marks.append(subject_mark)


    total_marks = sum(marks)


    print(f"Total marks for {student_name}: {total_marks}")

    if total_marks >= sum(marks) * 0.5:
        pass_students.append(student_name)

print("Total pass students:", len(pass_students))

In [ ]:
while True:
    try:

        input_data = input("Enter employee name and rating (format: Name : Rating): ")


        name, rating = input_data.split(':')


        name = name.strip()
        rating = rating.strip()


        if not name and not rating:
            raise ValueError("Both name and rating are empty")


        if not name:
            raise ValueError("Name is empty")


        if not rating:
            raise ValueError("Rating is empty")


        if any(char.isdigit() for char in name):
            raise ValueError("Name contains integers")


        if not rating.replace('.', '').isdigit():
            raise ValueError("Rating contains characters")


        rating = float(rating)


        if not 1 <= rating <= 10:
            raise ValueError("Rating should be between 1 and 10")


        print(f"Employee Name: {name}")
        if rating < 5:
            print("Performance: Poor")
        elif rating < 7:
            print("Performance: Average")
        else:
            print("Performance: Excellent")

        break

    except ValueError as e:
        print(f"Invalid input: {e}. Please try again.")

In [41]:
import os
import shutil

def get_folder_size(folder_path):
    total_size = 0
    for dirpath, _, filenames in os.walk(folder_path):
        for filename in filenames:
            file_path = os.path.join(dirpath, filename)
            total_size += os.path.getsize(file_path)
    return total_size / (1024 * 1024)

def delete_files_to_fit(folder_path, target_size_mb):
    while get_folder_size(folder_path) > target_size_mb:

        largest_file = max((os.path.join(dirpath, f) for dirpath, _, files in os.walk(folder_path) for f in files), key=os.path.getsize)
        os.remove(largest_file)
        print(f"Deleted {largest_file} to fit the folder size within {target_size_mb} MB")

folder_path = 'folder'

target_size_mb = 2

current_size_mb = get_folder_size(folder_path)
print(f"Current folder size: {current_size_mb:.2f} MB")

delete_files_to_fit(folder_path, target_size_mb)

new_size_mb = get_folder_size(folder_path)
print(f"New folder size: {new_size_mb:.2f} MB")

Current folder size: 0.00 MB
New folder size: 0.00 MB

In [43]:
mark = int(input("Enter the mark (0-100): "))

assert 0 <= mark <= 100, "Invalid mark! Mark should be in the range of 0 to 100."

print("Mark:", mark)

Enter the mark (0-100): 10
Mark: 10

In [44]:
import logging

logging.basicConfig(filename='user_data.log', level=logging.INFO, format='%(asctime)s - %(message)s')

try:
    mark = int(input("Enter the mark (0-100): "))


    assert 0 <= mark <= 100, "Invalid mark! Mark should be in the range of 0 to 100."

    logging.info(f"Valid mark: {mark}")

    print("Mark:", mark)

except ValueError:
    logging.error("User input is not an integer")

except AssertionError as e:
    logging.error(str(e))

Enter the mark (0-100): 45
Mark: 45

In [45]:
temperatures_celsius = [0, 10, 20, 30, 40]

temperatures_fahrenheit = list(map(lambda c: (c * 9/5) + 32, temperatures_celsius))

print("Temperatures in Fahrenheit:", temperatures_fahrenheit)

Temperatures in Fahrenheit: [32.0, 50.0, 68.0, 86.0, 104.0]

In [46]:
numbers = [22, 24, 25, 27, 29, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43]

filtered_numbers = [num for num in numbers if 25 <= num <= 40]

print("Filtered numbers:", filtered_numbers)

Filtered numbers: [25, 27, 29, 31, 33, 35, 36, 37, 38, 39]

In [48]:
numbers = [3, 5, 2, 6, 8, 3, 18, 5, 3, 44, 21, 4, 18, 2]

unique_numbers = []

for num in numbers:
    if num not in unique_numbers:
      unique_numbers.append(num)

print("List with duplicate elements removed:", unique_numbers)

List with duplicate elements removed: [3, 5, 2, 6, 8, 18, 44, 21, 4]

In [49]:
numbers = []
def add_number(num):
    if num not in numbers:
        numbers.append(num)
        print(f"Added {num} to the list")
    else:
        print(f"{num} is already present in the list")
add_number(3)
add_number(5)
add_number(2)
add_number(6)
add_number(8)
add_number(3)
add_number(18)
add_number(5)
add_number(3)
add_number(44)
add_number(21)
add_number(4)
add_number(18)
add_number(2)
print("List after adding numbers:", numbers)

Added 3 to the list
Added 5 to the list
Added 2 to the list
Added 6 to the list
Added 8 to the list
3 is already present in the list
Added 18 to the list
5 is already present in the list
3 is already present in the list
Added 44 to the list
Added 21 to the list
Added 4 to the list
18 is already present in the list
2 is already present in the list
List after adding numbers: [3, 5, 2, 6, 8, 18, 44, 21, 4]

In [51]:
input_string = input("Enter a string: ")

cleaned_string = ''.join(char.lower() for char in input_string if char.isalnum())

if cleaned_string == cleaned_string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: carrace
The string is not a palindrome.