In [4]:
#print function
name="shivangi vashistha"
print("name =",name)

name = shivangi vashistha

In [8]:
print("hello",end="\n")
print("world",end=" ")
print("hii")

hello
world hii

In [12]:
#variables
num=11
num2=11.1
num3="shivangi"
print("num=",num,type(num),"num2=",num2,type(num2),"num3=",num3,type(num3))

num= 11 <class 'int'> num2= 11.1 <class 'float'> num3= shivangi <class 'str'>

In [15]:
#data types , numeric data type
a=5
b=3.14
c=3+4j
print(a,type(a),b,type(b),c,type(c))

5 <class 'int'> 3.14 <class 'float'> (3+4j) <class 'complex'>

In [17]:
#sequence data type
message="Hello World"
num=[2,4,6,8]
num1=('a','b','c')
print(message,type(message),num,type(num),num1,type(num1))

Hello World <class 'str'> [2, 4, 6, 8] <class 'list'> ('a', 'b', 'c') <class 'tuple'>

In [29]:
#dictionary data type
name={
    'name'':''shivangi',
    'age'':''21',
}
print(name)

{'age:21', 'name:shivangi'}

In [36]:
# set data type
s1={1,2,3}
s2=({1,2,3})
print(s1,type(s1),s2,type(s2))

{1, 2, 3} <class 'set'> {1, 2, 3} <class 'set'>

In [44]:
# boolean data type
num=10
num1=11
print(num<num1)

True

In [46]:
# none data type
num=None
print(num)

None

In [54]:
#type conversion , implicit conversion
a=5
b=5.10
c=a+b
print(c,type(c))

10.1 <class 'float'>

In [59]:
#explicit conversion
num = "10"
num1 = int(num)
print(num1,type(num1))

10 <class 'int'>

In [70]:
#operators , assignment 
a=2
b=4
print("add=",a+b,"sub=",a-b,"multi=",a*b,"div=",a/b,"floordiv=",a//b,"modulus=",a%b,"exponential=",a**b)

add= 6 sub= -2 multi= 8 div= 0.5 floordiv= 0 modulus= 2 exponential= 16

In [73]:
# relational operator
a=2
b=4
print("equal=",a==b,"inequal=",a!=b,"less=",a<b,"greater=",a>b,"lessequal=",a<=b,"greatequal=",a>=b)

equal= False inequal= True less= True greater= False lessequal= True greatequal= False

In [83]:
# logical operator
a=2
b=4
c=a>b
d=a<b
print("and=",c and d,"or=",c or d)
# here also not operator in logical operator "not"

and= False or= True

In [85]:
# membership operator
a=2,4
b=4,3
print("in=",a in b,"notin=",a not in b)

in= False notin= True

In [87]:
# identity operator
a=2
b=4
print("is=",a is b,"isnot=",a is not b)

is= False isnot= True