In [3]:
mylist=[10,20,30,"hello","world"]
print(mylist)

[10, 20, 30, 'hello', 'world']

In [7]:
list1=[20,40,60,80,"hey","shivangi"]
print(list1[1])#indexing in list

40

In [9]:
list2=[10,30,50,70,90,"hello"]
print(list2[-1:-3:-1])#in this concept when we give negative start and end then we also have to give negative slice

['hello', 90]

In [12]:
#adding value in the list
list3=[1,12,123,1234,12345]
list3[4]="hi"#this is our new value in the list
print(list3)

[1, 12, 123, 1234, 'hi']

In [13]:
list4=[1,2,"c","d"]
list4[0:2]=["a","b"]
print(list4)

['a', 'b', 'c', 'd']

In [23]:
#list functions
list5=[1,2,3,4,5,"hey"]
list5.append("shivangi")#here append is a function using for add elements in the list
list5.extend("oks")
list5.extend([6,7])
list5.pop(2)
list5.remove(4)
del list5[2]
print(list5)

[1, 2, 'hey', 'shivangi', 'o', 'k', 's', 6, 7]

In [26]:
list6=[10,21,30.0,"hello",20,501]
newlist=[]
for i in list6:
  if(type(i) is int):
    newlist.append(i)
print(newlist)

[10, 21, 20, 501]

In [31]:
data="hey shivangi hey hello hey user hey"
mylist=data.split(" ")
newlist=[]
for i in mylist:
  if(i not in newlist):
    newlist.append(i)
print(newlist)

['hey', 'shivangi', 'hello', 'user']

In [36]:
mytuple=10,20
id(mytuple)

138634558387008

In [37]:
mytuple=mytuple+(30,40)
id(mytuple)

138634559517408

In [44]:
x=153
rem1=x%10
x=x//10
rem2=x%10
x=x//10
rem3=x%10
x=x//10
rem1**3 + rem2**3 + rem3**3

153

In [54]:
x=153
num=x
total=0
while(x>0):
  rem=x%10
  total+=rem**3

  x=x//10
if(total==num):
  print("Armstrong")
else:
  print("not")

Armstrong

In [62]:
data="hey shivangi hey user shivangi hey everyone"
mylist=data.split(" ")
newlist=[]
for i in mylist:
  if mylist.count(i)==1:
    newlist.append(i)
print(newlist)

['user', 'everyone']

In [69]:
mydict={1:"shivangi",2:"shiv",3:"shivi"}
x=200
if(x not in mydict):
  mydict[x]=1
print(mydict)

{1: 'shivangi', 2: 'shiv', 3: 'shivi', 200: 1}