In [1]:
data="hii shivangi hii"
x=data.split("i")
print(x)

['h', '', ' sh', 'vang', ' h', '', '']

In [7]:
data="hii shivangi hey hello hey user user hey"
mylist=data.split()
newlist=[]
for i in mylist:
  if(i not in newlist):
    newlist.append(i)
print(newlist)

['hii', 'shivangi', 'hey', 'hello', 'user']

In [8]:
mytuple=11
print(type(mytuple))

<class 'int'>

In [10]:
mytuple=("10,20,30")
id(mytuple)

137069647815536

In [11]:
mytuple=("60,50,40")
id(mytuple)

137070021814000

In [15]:
x=153
total=0
original=x
while(x>0):
  rem=x%10
  total+=rem**3
  x=x//10
if(total==original):
  print("Armstrong number")
else:
  print("not armstrong")
print(total)

Armstrong number
153